@import './base.css';

* {
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}

body {
  /* background:rgb(244, 243, 243); */
  background:rgb(249, 249, 249);
  display:flex;
  justify-content: center;
  align-items: center;
}


#app {
  display:flex;
  width:100%;
  max-width: 1220px;
  height:90vh;
  background:#fff;
  border:1px solid rgb(153, 184, 180);
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  font-weight: normal;
}

.header {
}

li {
  list-style: none;
}

button {
  font-weight:500;
  opacity: .7;
}

.main {
  width:1200px;
  height: 100%;
  box-sizing:border-box;
  padding:20px;
  display: flex;
  align-items: stretch;
}

.main__inner {
  background:rgb(249, 249, 249);
  width:100%;
  height:auto;
  border-radius:10px;
  
}

.flex {
  display:flex;
}

.small-text {
  font-size:12px;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
