@mixin glassmorphism($blurValue: 5px, $opacity: 0.35) {
  // backdrop-filter: blur($blurValue); // rendering issue occurs
  -webkit-backdrop-filter: blur($blurValue);
  border-radius: 6px;
  background: rgba(255, 255, 255, $opacity);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // outline: 5px solid rgba(255, 255, 255, 0.18);
}
